<!-- Modal -->
<div
  class="modal fade"
  id="add-kursus"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">tambah kursus</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/admin/kursus" method="POST">
        <div class="modal-body">
          <div class="form-group">
            <label for="name">nama kursus</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              placeholder="masukan nama kursus"
              required
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <label for="TagihanPerBulan">Tagihan Per Bulan</label>
            <input
              type="number"
              class="form-control"
              id="TagihanPerBulan"
              name="TagihanPerBulan"
              placeholder="masukan Tagihan Per Bulan"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">tambah kursus</button>
        </div>
      </form>
    </div>
  </div>
</div>
